@model CityWeather

<!DOCTYPE html>
<head>
    <title>@Model.CityName City Weather</title>
    <meta charset="utf-8"/>
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="w-30 margin-auto cursor-pointer">
        <div class="box w-30 margin-auto">
            <div class="inline-block w-50">
                <h2>@Model.CityName</h2>
                <h4 class="text-dark-grey">@Model.GetDayMonthYear()</h4>
                <h4 class="text-dark-grey">@Model.GetTime()</h4>
            </div>
            <div class="border-left inline-block padding-left-45">
                <h2 class="text-dark-grey">@Model.TemperatureFahrenheit <sup><sup>o</sup>F</sup></h2>
                <br/><br/>
            </div>
        </div>
        <div class="margin-auto text-center">
            <a href="/">Back To The Home Page</a>
        </div>
    </div>
</body>